@model IEnumerable<InformationToolOIM2.Models.Sector>

@{
    ViewData["Title"] = "Sector";
}

<h1>Sector</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSector">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdSector">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSector">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
