@model OIMInformationTool2.Models.Nominal

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Nominal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAsistencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAsistencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCorte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCorte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discapacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discapacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProvinciaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProvinciaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CondicionEsp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CondicionEsp.IdCondicionEsp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriterioMovi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriterioMovi.IdCriterioMovi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.IdGenero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentSexual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentSexual.IdIdentSexual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indicador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indicador.IdActividad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidad.IdNacionalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parentezco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parentezco.IdParentezco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo.IdPeriodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo.IdSexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNominal">Editar</a> |
    <a asp-action="Index">Regresar a la lista</a>
</div>
