@model IEnumerable<InformationToolOIM2.Models.AreaOim>

@{
    ViewData["Title"] = "Área programática OIM";
}

<h1>Área Programática</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>

<a asp-action="SaveToExcel" asp-controller="AreaOim">Guardar</a> 

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAreaOim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAreaOim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAreaOim">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAreaOim">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAreaOim">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
