@model IEnumerable<OIMInformationTool2.Models.Objetivo>

@{
    ViewData["Title"] = "Objetivo";
}

<h1>Objetivo</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>

<a asp-action="SaveToExcel" asp-controller="Objetivo">Guardar</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdObjetivo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdObjetivo">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdObjetivo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
