@model IEnumerable<OIMInformationTool2.Models.Canton>

@{
    ViewData["Title"] = "Listar";
}

@if (TempData["alertMessage"] != null)
{
        <br/>
        <div class="alert alert-secondary alert-dismissible fade show" role="alert" >
            <strong>@TempData["alertMessage"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    TempData["alertMessage"] = null;
}

<h1>Lista</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>


<div class="mb-5">
    <input type="text" id="searchInput" onKeyPress="search()" />
</div>


<table class="table table-striped" id="searchResults">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia.Descripcion)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.IdCanton">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCanton">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    function search() {

        System.Diagnostics.Debug.WriteLine('Entré a la funcion')

        var searchTerm = $('#searchInput').val();

        System.Diagnostics.Debug.WriteLine(searchTerm)

        $.ajax({
            url: '/canton/search',
            type: 'GET',
            data: { searchTerm: searchTerm },
            success: function (result) {
                $('#searchResults').empty();
                $.each(result, function (index, value) {
                    $('#searchResults').append('<tr><td>' + value.Descripcion + '</td><td>' + value.IdCanton + '</td></tr>');
                });
            }
        });
    }
</script>
