@model OIMInformationTool2.Models.Outcome

@{
    ViewData["Title"] = "Detalles";
}

<h1>Details</h1>

<div>
    <h4>Outcome</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaOim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaOim.IdAreaOim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Objetivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Objetivo.IdObjetivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sector.IdSector)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdOutcome">Editar</a> |
    <a asp-action="Index">Back to List</a>
</div>
