@model IEnumerable<OIMInformationTool2.Models.Outcome>

@{
    ViewData["Title"] = "Lista";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaOim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objetivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sector)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOutcome">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdOutcome">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOutcome">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
