@model IEnumerable<OIMInformationTool2.Models.Parentezco>

@{
    ViewData["Title"] = "Parentesco";
}

@if (TempData["alertMessage"] != null)
{
        <br/>
        <div class="alert alert-secondary alert-dismissible fade show" role="alert" >
            <strong>@TempData["alertMessage"]</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    TempData["alertMessage"] = null;
}

<h1>Parentesco</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<a asp-action="SaveToExcel" asp-controller="Parentezco">Guardar</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdParentezco">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdParentezco">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdParentezco">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
